<div class="container-fluid">
     <div class="main-content">
      <div class="create-section  form-section" style="display:none;">
        <div class="page-title">
          <h4 class="">Manage Request<span class="pull-right"><a href="#" class="button">Upload File</a></span></h4>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="text1">GST Number</label>
              <input type="text" class="form-control" id="text1" placeholder="">
            </div>
            <div class="col-md-4 form-group">
              <label for="text1">Distributor Name</label>
              <input type="text" class="form-control" id="text1" placeholder="">
            </div>
            <div class="col-md-4 form-group">
              <label for="text1">Street Address 1</label>
              <input type="text" class="form-control" id="text1" placeholder="">
            </div>
            <div class="col-md-4 form-group">
              <label for="text1">Street Address 2</label>
              <input type="text" class="form-control" id="text1" placeholder="">
            </div>
            <div class="col-md-4 form-group">
              <label for="text1">City</label>
              <input type="text" class="form-control" id="text1" placeholder="">
            </div>
            <div class="col-md-4 form-group">
              <label for="text1">State</label>
              <input type="text" class="form-control" id="text1" placeholder="">
            </div>
            <div class="col-md-4 form-group">
              <label for="text1">Country</label>
              <input type="text" class="form-control" id="text1" placeholder="">
            </div>
            <div class="col-md-4 form-group">
              <label for="text1">Pincode</label>
              <input type="text" class="form-control" id="text1" placeholder="">
            </div>
            <div class="col-md-4 form-group">
              <label for="text1">Contact Number</label>
              <input type="text" class="form-control" id="text1" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-blue">Submit</button>
              <button type="submit" class="btn btn-red button-cancel" ng-click="cancle()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="page-title">
        <h4 class="">Manage Request<!--<span class="pull-right"><a href="#" class="button button-toggle">Add New Distributor</a></span>--></h4>
      </div>
      <div class="section">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Order No.</th>
                <th>Pharmacy Name</th>
                <th>Ordered Date</th>
                <th>Total Price (<i class="fa fa-inr"></i>)</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Care Pharmacy</td>
                <td>16/11/2017</td>
                <td>4500</td>
                <td>Pending</td>
                <td class="text-center">
                
                <a class="table-btn table-view" ng-click="showDetails()"><em class="fa fa-eye text-primary" ng-if="!showInformation"></em></a> 
                
                <a class="table-btn table-cancel" ng-click="hideDetails()"> <em class="fa fa-times text-danger" ng-if="showInformation"> </em> </a> 
                
                </td>
              </tr>
              <tr class="table-section" style="background:#fcfcfc;" ng-if="showInformation">
                <td colspan="6"><div class="theme_box">
                    <ul>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6 class="text-muted">MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6>MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Pan 40</h4>
                          <h6>MRP : 125/- <span class="split">|</span> Cost Price : 80/- <span class="split">|</span> Selling Price : 100/- </h6>
                          <h5>Required Quantity : 50</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 4000.00</span> </label>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                    </ul>
                  </div></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Care Pharmacy</td>
                <td>16/11/2017</td>
                <td>4500</td>
                <td>Pending</td>
                <td class="text-center"><a class="table-btn table-view" ng-click="showDetails()"><em class="fa fa-eye text-primary" ng-if="!showInformation"></em></a> 
                <a class="table-btn table-cancel" ng-click="hideDetails()"><em class="fa fa-times text-danger" ng-if="showInformation"></em></a> </td>
              </tr>
              
              <tr class="table-section" ng-if="showInformation">
                <td colspan="6"><div class="theme_box">
                    <ul>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6 class="text-muted">MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6>MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Pan 40</h4>
                          <h6>MRP : 125/- <span class="split">|</span> Cost Price : 80/- <span class="split">|</span> Selling Price : 100/- </h6>
                          <h5>Required Quantity : 50</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 4000.00</span> </label>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                    </ul>
                  </div></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Care Pharmacy</td>
                <td>16/11/2017</td>
                <td>4500</td>
                <td>Pending</td>
                <td class="text-center"><a class="table-btn table-view" ng-click="showDetails()"><em class="fa fa-eye text-primary" ng-if="!showInformation"></em></a> 
                <a class="table-btn table-cancel" ng-click="hideDetails()"><em class="fa fa-times text-danger" ng-if="showInformation"></em></a> </td>
              </tr>
              <tr class="table-section" ng-if="showInformation">
                <td colspan="6"><div class="theme_box">
                    <ul>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6 class="text-muted">MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6>MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Pan 40</h4>
                          <h6>MRP : 125/- <span class="split">|</span> Cost Price : 80/- <span class="split">|</span> Selling Price : 100/- </h6>
                          <h5>Required Quantity : 50</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 4000.00</span> </label>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                    </ul>
                  </div></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Care Pharmacy</td>
                <td>16/11/2017</td>
                <td>4500</td>
                <td>Pending</td>
                <td class="text-center"><a class="table-btn table-view" ng-click="showDetails()"><em class="fa fa-eye text-primary" ng-if="!showInformation"></em></a> <a class="table-btn table-cancel" ng-click="hideDetails()""><em class="fa fa-times text-danger" ng-if="showInformation"></em></a> </td>
              </tr>
              <tr class="table-section" ng-if="showInformation">
                <td colspan="6"><div class="theme_box">
                    <ul>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6 class="text-muted">MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6>MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Pan 40</h4>
                          <h6>MRP : 125/- <span class="split">|</span> Cost Price : 80/- <span class="split">|</span> Selling Price : 100/- </h6>
                          <h5>Required Quantity : 50</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 4000.00</span> </label>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                    </ul>
                  </div></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Care Pharmacy</td>
                <td>16/11/2017</td>
                <td>4500</td>
                <td>Pending</td>
                <td class="text-center"><a class="table-btn table-view" ng-click="showDetails()"><em class="fa fa-eye text-primary" ng-if="!showInformation"></em></a> 
                <a class="table-btn table-cancel" ng-click="hideDetails()"><em class="fa fa-times text-danger" ng-if="showInformation"></em></a> </td>
              </tr>
               <tr class="table-section" ng-if="showInformation">
                <td colspan="6"><div class="theme_box">
                    <ul>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6 class="text-muted">MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Crocin</h4>
                          <h6>MRP : 10/- <span class="split">|</span> Cost Price : 5/- <span class="split">|</span> Selling Price : 7/- </h6>
                          <h5>Required Quantity : 100</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 250.00</span> </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                      <li class="order-info">
                        <div class="col-md-4 form-group">
                          <h4 class="product-title" >Pan 40</h4>
                          <h6>MRP : 125/- <span class="split">|</span> Cost Price : 80/- <span class="split">|</span> Selling Price : 100/- </h6>
                          <h5>Required Quantity : 50</h5>
                        </div>
                        <div class="col-md-4 form-group">
                          <div class="input-group form-group"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-plus"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input type="text" class="form-control" name="qty" id="qty" value="50">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-minus"><span class="glyphicon glyphicon-plus"></span></button>
                            </span> </div>
                          <label class="total count">Total : <span class="text-success" ><i class="fa fa-inr"></i> 4000.00</span> </label>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <select class="form-control">
                              <option>A112345</option>
                              <option>B112678</option>
                              <option>C112345</option>
                              <option>D879061</option>
                              <option>E541230</option>
                            </select>
                            <h6>Manufacturer Date: 16/11/2017 <span class="split">|</span> Expired Date: 15/11/2019 </h6>
                          </div>
                          <div class="text-right"> <a href="" class="text-success">Accept</a> <span class="split">|</span> <a href="" class="text-danger">Reject</a></div>
                        </div>
                      </li>
                    </ul>
                  </div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/span-->
  </div>
  

