
<div class="main-content">
	<div class="create-section form-section" ng-if="showForm">
		<div class="page-title">
			<h4 class="">
				Create Product <span class="pull-right"><a href="#"
					class="button">Upload File</a></span>
			</h4>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-4 form-group">
					<label for="text1">Product Name</label> <input type="text"
						class="form-control" id="text1" placeholder="">
				</div>
				<div class="col-md-4 form-group">
					<label for="text1">Batch ID</label> <input type="text"
						class="form-control" id="text1" placeholder="">
				</div>
				<div class="col-md-4 form-group">
					<label for="text1">Stock</label> <input type="text"
						class="form-control" id="text1" placeholder="">
				</div>
				<div class="col-md-4 form-group">
					<label for="text1">Manufacture Date</label> <input type="text"
						class="form-control" id="text1" placeholder="">
				</div>
				<div class="col-md-4 form-group">
					<label for="text1">Expired Date</label> <input type="text"
						class="form-control" id="text1" placeholder="">
				</div>
				<div class="col-md-4 form-group">
					<label for="text1">MRP</label> <input type="text"
						class="form-control" id="text1" placeholder="">
				</div>
				<div class="col-md-4 form-group">
					<label for="text1">Cost Price</label> <input type="text"
						class="form-control" id="text1" placeholder="">
				</div>
				<div class="col-md-4 form-group">
					<label for="text1">Selling Price</label> <input type="text"
						class="form-control" id="text1" placeholder="">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-blue">Submit</button>
					<button type="submit" class="btn btn-red button-cancel" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-title">
		<h4 class="">
			Inventory <span class="pull-right"><a
				class="button button-toggle" ng-click="addNewproduct()">Add New Product</a></span>
		</h4>
	</div>
	<div class="section">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Batch ID</th>
						<th>Stock</th>
						<th>Manufacture Date</th>
						<th>Expired Date</th>
						<th class="text-right">MRP ( <i class="fa fa-inr"></i> )
						</th>
						<th class="text-right">Cost Price ( <i class="fa fa-inr"></i>
							)
						</th>
						<th class="text-right">Selling Price ( <i class="fa fa-inr"></i>
							)
						</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
					<tr>
						<td>Crocin</td>
						<td>C112345</td>
						<td>200</td>
						<td>16/11/2017</td>
						<td>15/11/2019</td>
						<td class="text-right">10</td>
						<td class="text-right">5</td>
						<td class="text-right">7</td>
						<td class="text-center"><a class="table-btn"><em
								class="fa fa-pencil text-primary"></em></a> <a class="table-btn"><em
								class="fa fa-trash text-danger"></em></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>



<!--/span-->
</div>


