<div class="container-fluid">
      
       
        <div class="main-content">
        <div class="create-section  form-section" ng-if="showForm" >
         <div class="page-title">
        <h4 class="">Create Pharmacy </h4>                 
        </div>
        
        <div class="section">
        <div class="row">
        <div class="col-md-4 form-group">
       
    <label for="text1">GST Number</label>
    <input type="text" class="form-control" id="text1" placeholder="">
  </div>
       <div class="col-md-4 form-group">
       
    <label for="text1">Pharmacy Name</label>
    <input type="text" class="form-control" id="text1" placeholder="">
  </div>
        
        <div class="col-md-4 form-group">
        
    <label for="text1">Street Address 1</label>
    <input type="text" class="form-control" id="text1" placeholder="">
  </div>
        
        <div class="col-md-4 form-group">
        
    <label for="text1">Street Address 2</label>
    <input type="text" class="form-control" id="text1" placeholder="">
  </div>
       
        <div class="col-md-4 form-group">
        
    <label for="text1">City</label>
    <input type="text" class="form-control" id="text1" placeholder="">
  </div>
  <div class="col-md-4 form-group">
        
    <label for="text1">State</label>
    <input type="text" class="form-control" id="text1" placeholder="">
  </div>
  <div class="col-md-4 form-group">
        
    <label for="text1">Country</label>
    <input type="text" class="form-control" id="text1" placeholder="">
  </div>
        
      <div class="col-md-4 form-group">
        
    <label for="text1">Pincode</label>
    <input type="text" class="form-control" id="text1" placeholder="">
  </div>
  <div class="col-md-4 form-group">
        
    <label for="text1">Contact Number</label>
    <input type="text" class="form-control" id="text1" placeholder="">
  </div>
    
        </div>
        
        <div class="row">
        <div class="col-md-12">
        
        <button type="submit" class="btn btn-blue">Submit</button>
         <button type="submit" class="btn btn-red button-cancel" ng-click="cancel()">Cancel</button>
        </div>
        </div>
        </div>
        
        </div>
        
        
        <div class="page-title">
        <h4 class="">Pharmacy <span class="pull-right" ng-if="showTitle"><a class="button button-toggle" ng-click="addNewPharmancies()">Add New Pharmacy</a></span></h4>                 
        </div>
        
        <div class="section">
        <div class="table-responsive">
        
        <table class="table table-bordered">
                  <thead>
                    <tr>
                    	<th>GST Number</th>
                        <th>Pharmacy Name</th>
                        <th>Address</th> 
                        <th>Contact Number</th>                       
                        <th>Added On</th>                        
                        <th class="text-right">Total Sales ( <i class="fa fa-inr"></i> )</th>                        
                        <th class="text-center">Actions</th>
                    </tr> 
                  </thead>
                  <tbody>
                          <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                           <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                            <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                           <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                            <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                            <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                            <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                            <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                            <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                           <tr> 
                          	<td>GST1234</td>                          
                            <td>Care Pharmacy</td>                            
                            <td>20, Madhapur Main Road, Madhapur, Hyderabad, Telangana - 500081</td>
                            <td>9876543210</td>
                            <td>16/11/2017</td>                            
                            <td class="text-right">100000</td>                           
                             <td class="text-center">
                              <a class="table-btn"><em class="fa fa-pencil text-primary"></em></a>
                              <a class="table-btn"><em class="fa fa-trash text-danger"></em></a>
                            </td>
                          </tr>
                        </tbody>
                </table>
        
          </div>
  	</div>
  	</div>
  	</div>
 
